.product1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.productInfo {
  border: 1px solid black;
  width: 100%;
}
.productInfo * {
  margin: 0;
}

.starRating {
  display: flex;
  justify-content: flex-start;
}

.productImage {
  border: 1px solid black;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage img {
  border: 1px solid black;
  max-height: 200px;
  max-width: 100%;
}

.addtocartbutton {
  background: #f0c14b;
  width: 150px;
  font-size: 17px;
  border-radius: 3px;
  margin: 5px;
}
