.homeBackground {
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(4, 0, 0, 0));
}

.products{
  margin-top: -370px;
}

.productRow{
  display: flex;
  z-index: 1;
}