.checkout {
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.checkoutContent {
  width: 80%;
  margin: 5px;
  padding: 10px;
  background-color: white;
}

.checkoutContent h5 {
  flex: 0.2;
}

.address,
.cardDetails,
.cartItems {
  flex: 0.8;
}

.contentDiv {
  border-bottom: 5px solid lightgray;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.contentDiv * {
  margin: 0;
  font-size: 18px;
}

.cardForm {
  margin: 10px 10%;
}

.orderTotal {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
